/* Estilos Gerais do Site:
1 - Estilos gerais do site, não remover esse conteúdo para deixarmos o site padrão.
2 - As cores utiliadas são as básicas, #000000 e #ffffff. A cor do botão é o warning.
3 - Para o header, utilizei o flexbox, para o footer o grid.
4 - Toda a home está responsiva. Se vocês tiverem dúvidas ou não saberem deixar responsivo, fala comigo.
5 - A fonte utilizada padrão é a Arial, e a primária é a Poppins. Estão em rem, se não souberem converter, deixa em px mesmo. 
6 - Qualquer dúvida, estou a disposição. beiiijooosssss 
7 - Fundo do corpo (quase-preto): #111111;
8 - Cor amarelo: #FFBB00;*/


body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  ul,
  p,
  blockquote,
  dd {
    margin: 0px;
  }
  
  ul {
    padding: 0px;
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  /* Estilos do Header */
  .header-bg {
    background-color: #000000;
  }
  
  .container {
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .header-logo {
    background-color: #ffffff;
  }
  
  .header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    
  }
  
  .header-menu a {
    display: inline-block;
    padding: 16px 0px;
    position: relative;
    color: #ffffff;
    font: 400 1.125rem/1.35 "Poppins", sans-serif;
    text-decoration: none;
  }
  
  .header-menu a:after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: #ffffff;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
  }
  
  .header-menu a:hover::after,
  .header-menu a.ativo::after {
    width: 100%;
  }
  
  @media (max-width: 800px) {
    .header-menu {
      gap: 20px;
    }
    .header-menu a {
      background: #000000;
      padding: 12px 16px;
      border-radius: 4px;
    }
    .header-menu a:hover {
      background-color: #000000;
      
    }
    .header a:after {
      display: none;
    }
  }
  
  @media (max-width: 600px) {
    .header-menu {
      gap: 20px;
    }
    .header-menu a {
      padding: 8px;
      font-size: 14px;
    }
  }
  
  /* Estilos do Footer */
  .footer-bg {
    background-color: #000000;
    color: #b2b2b2;
  }
  
  .footer {
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer a:hover {
    text-decoration: none;
  }
  
  .footer h3 {
    margin-bottom: 32px;
    font: 400 1.5rem/1.5 "Roboto", sans-serif;
    color:#ffffff;
  }
  
  .footer-contato ul {
    margin-bottom: 32px;
    font: 500 1.125rem/1.35 "Roboto", sans-serif;
    color: #ffffff;
  }
  
  .footer-contato li:nth-child(even):after {
    content: "";
    display: block;
    max-width: 360px;
    height: 2px;
    background: #000000;
    margin-top: 16px;
  }
  
  .footer-informacoes h3 {
    font: 400 1.5rem/1.5 "Roboto", sans-serif;
    color: #ffffff;
  }
  
  .footer li {
    margin-bottom: 16px;
    color: #b2b2b2;
    font: 500 1.125rem/1.35 "Roboto", sans-serif;
  }
  
  .footer-redes {
    display: flex;
    gap: 32px;
  }
  
  .footer a:hover {
    color: #ffffff;
  }
  
  .footer-copy {
    grid-column: 1/-1;
    margin-top: 40px;
    font: 500 1.125rem/1.35 "Roboto", sans-serif;
    color:#9c9c9c;
  }
  
  @media (max-width: 800px) {
    .footer > img {
      display: none;
    }
    .footer {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 600px) {
    .footer {
      grid-template-columns: 1fr;
      gap: 60px;
    }
    .footer-copy {
      margin-top: 0px;
    }
  }

  /* Estilo do conteúdo principal */
  .topo {
      background-color: #111111;
      padding: 2rem;
      color: #9c9c9c;
      font-family: "Roboto";
  }

  .topo > img {
      max-width: 50vw;
  }

  .botao-amarelo {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    height: 40px;
    min-width: min-content;
  }

  #titulo-card {
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }

  .icone {
      width: 40px;
      height: auto;
  }

  .card {
    background-color: black;
  }

  .card .fa-solid {
    color: #FFBB00;
  }

  .card > h3 {
    font-size: 15px;
    color: white;
    font-weight: 600;
  }

  .card .text-white {
    font-size: 12px;
  }

  .planos {
    min-height: 40vh;
    padding-top: 70px;
    padding: 2rem;
  }

  .titulo-semi-amarelo {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .titulo-semi-amarelo::after {
    content: ".";
    color: #FFBB00;
  }

  .curso {
    background-color: #111111;
    color: #9c9c9c;
    padding: 2rem;
    margin-bottom: -8%;
  }

  .curso h1 {
    color: white;
    font-size: 50px;
    font-weight: 600;
  }

  .curso h1::after {
    content: "curso.";
    color: #FFBB00;
  }

  .imagem-sobreposta {
    position: relative;
    top: -50px;
    /* z-index: 2; */
  }

  @media (max-width: 1140px) {
    .curso {
     padding-bottom: 1rem;
     margin-bottom: auto;
    }
    
  }

  .experts {
    padding: 2rem;
  }

  .nome-expert {
    color: #FFBB00;
    font-weight: 600;
  }

  .foto-expert {
    border-radius: 50%;
  }

  .grid-cursos {
    background-color: #111111;
    padding: 2rem;
  }

  .grid-cursos > h1 {
    color: white;
  }

  .grid-cursos-branco {
    background-color: white;
    padding: 2rem;
  }

  .grid-cursos-branco > h1 {
    color: black;
  }

  .faq {
    background-color: white;
    padding: 2rem;
    padding-top: 70px;
  }

  .grid-cursos-menor {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-size: 100px;
    gap: 30px;
  }

  @media (max-width: 600px) {
    .grid-cursos-menor {
      display: flex;
      flex-direction: column;
    }
  }

  .curso-baixo {
    background-color: #111111;
    color: #9c9c9c;
    padding: 2rem;
    max-height: 52vh;
  }

  .curso-baixo h1 {
    color: white;
    font-size: 50px;
    font-weight: 600;
  }

  .curso-baixo h1::after {
    content: "curso.";
    color: #FFBB00;
  }

  @media (max-width: 1140px) {
    .curso-baixo {
     padding-bottom: 1rem;
     margin-bottom: 2rem;
    }

    .imagem-sobreposta {
  display: none;
    }
    
  }

  .icone-curso {
    display: flex;
    flex-direction: column;
  }
  .icone-curso:hover {
    color: #FFBB00;
  }

  .legenda-curso {
    
    font-size: 12px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }

  .faq-pergunta {
    background-color: #ffbb0025;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
  }

  .faq-pergunta::before {
    content: "+";
    font-size: 20px;
    color: #FFBB00;
  }

  .faq-resposta {
    margin: 1rem;
  }

  .cards-planos {
    padding: 2rem;
  }

  .plano-item {
    background-color: #111111;
    padding: 2.5rem;
    margin: 2rem;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: white;
    display: grid;
    grid-template-columns: auto 120px;
    gap: 2rem;
    opacity: 0.6;
    /* width: 80%;
    transition: height 2s; */
  }

  /* .plano-item:hover {
    height: 120%;
  } */

  .plano-item ul {
    grid-column: 1/3;
  }

  .plano-item li::before {
    content: "✔ ";
    color:#FFBB00;
  }

  .plano-titulo {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }

  .plano-valor {
    grid-column: 2;
    display: block;
    text-align: right;
    color: #ffffff;
    font: 600 2rem/1.25 "Poppins", sans-serif;
    line-height: 20px;
  }
  
  .plano-mes{
  color: #b2b2b2;
  font: 400 0.75rem/1.35 "Poppins", sans-serif;
  }


