/* Estilos Gerais do Site:
1 - Estilos gerais do site, não remover esse conteúdo para deixarmos o site padrão.
2 - As cores utiliadas são as básicas, #000000 e #ffffff. A cor do botão é o warning.
3 - Para o header, utilizei o flexbox, para o footer o grid.
4 - Toda a home está responsiva. Se vocês tiverem dúvidas ou não saberem deixar responsivo, fala comigo.
5 - A fonte utilizada padrão é a Arial, e a primária é a Poppins. Estão em rem, se não souberem converter, deixa em px mesmo. 
6 - Qualquer dúvida, estou a disposição. beiiijooosssss 
7 - Fundo do corpo (quase-preto): #111111;
8 - Cor amarelo: #FFBB00;*/


body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  ul,
  p,
  blockquote,
  dd {
    margin: 0px;
  }
  
  ul {
    padding: 0px;
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  /* Estilos do Header */
  .header-bg {
    background-color: #000000;
  }
  
  .container {
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .header-logo {
    background-color: #ffffff;
  }
  
  .header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    
  }
  
  .header-menu a {
    display: inline-block;
    padding: 16px 0px;
    position: relative;
    color: #ffffff;
    font: 400 1.125rem/1.35 "Poppins", sans-serif;
    text-decoration: none;
  }
  
  .header-menu a:after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: #ffffff;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
  }
  
  .header-menu a:hover::after,
  .header-menu a.ativo::after {
    width: 100%;
  }
  
  @media (max-width: 800px) {
    .header-menu {
      gap: 20px;
    }
    .header-menu a {
      background: #000000;
      padding: 12px 16px;
      border-radius: 4px;
    }
    .header-menu a:hover {
      background-color: #000000;
      
    }
    .header a:after {
      display: none;
    }
  }
  
  @media (max-width: 600px) {
    .header-menu {
      gap: 20px;
    }
    .header-menu a {
      padding: 8px;
      font-size: 14px;
    }
  }
  
  /* Estilos do Footer */
  .footer-bg {
    background-color: #000000;
    color: #b2b2b2;
  }
  
  .footer {
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    /* position: absolute;
    bottom: 0; */
    /* z-index: 2; */
  }

  .footer a:hover {
    text-decoration: none;
  }
  
  .footer h3 {
    margin-bottom: 32px;
    font: 400 1.5rem/1.5 "Roboto", sans-serif;
    color:#ffffff;
  }
  
  .footer-contato ul {
    margin-bottom: 32px;
    font: 500 1.125rem/1.35 "Roboto", sans-serif;
    color: #ffffff;
  }
  
  .footer-contato li:nth-child(even):after {
    content: "";
    display: block;
    max-width: 360px;
    height: 2px;
    background: #000000;
    margin-top: 16px;
  }
  
  .footer-informacoes h3 {
    font: 400 1.5rem/1.5 "Roboto", sans-serif;
    color: #ffffff;
  }
  
  .footer li {
    margin-bottom: 16px;
    color: #b2b2b2;
    font: 500 1.125rem/1.35 "Roboto", sans-serif;
  }
  
  .footer-redes {
    display: flex;
    gap: 32px;
  }
  
  .footer a:hover {
    color: #ffffff;
  }
  
  .footer-copy {
    grid-column: 1/-1;
    margin-top: 40px;
    font: 500 1.125rem/1.35 "Roboto", sans-serif;
    color:#9c9c9c;
  }
  
  @media (max-width: 800px) {
    .footer > img {
      display: none;
    }
    .footer {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 600px) {
    .footer {
      grid-template-columns: 1fr;
      gap: 60px;
    }
    .footer-copy {
      margin-top: 0px;
    }
  }

  /* Estilo do conteúdo principal */
 .botao-amarelo {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    height: 40px;
    width: 250px;
  }

  .titulo-semi-amarelo {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }

  .titulo-semi-amarelo::after {
    content: ".";
    color: #FFBB00;
  }

  .barra-topo-preto {
    background-color: #111111;
    min-height: 60vh;
    color: white;
    z-index: -1;
  }

  .container-form {
    background-color: white;
    height: auto;
    position: relative;
    top: -300px;
    margin: 5rem;
    margin-bottom: 1rem;
    padding: 2rem;
  }

  @media (max-width: 800px) {
    .container-form {
      margin: 0;
    }
  }

  .topo-transparente {
    grid-column: 1/3;
    padding-bottom: 3rem;
  }


  .enchimento-branco {
    background-color: white;
    margin: 0;
    padding: 0;
  }

  .linha-botao {
      padding: 2rem;
      display: flex;
      justify-content: center;
  }

 